{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">    
{% endblock%}

{% block content %}
    <form action="" method="POST">
        <input id="username" name="username" type="text" autocomplete="off" placeholder="Username" required>
        <input id="password" name="password" type="password" autocomplete="off" placeholder="Password" required>
        <input type="submit" value="Register">
    </form>
{% endblock %}