main{
    width: 100%;
    height: 80%;
}

main .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.menu{
    width: 600px;

    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;
}

.menu div{
    width: 15%;
}

.btn, .menu div > input{
    width: 100px;
    height: 40px;
}

.btn{
    font-size: 16px;

    background-color: #fff;
    border: 2px solid rgb(39, 39, 39);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.menu div button:hover{
    border-color: var(--color);
}

.btn.pressed{
    background: #c3c3c388;
    border-color: var(--color);
}

.menu div > input{
    padding: 0;
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 50%;
    
    background-color: rgba(0, 0, 0, 0);
}

.menu div > input:hover{
    cursor: pointer;
}

.canvas{
    background-color: #fff;
    box-shadow: 0 5px 15px rgb(39, 39, 39);

    height: 600px;
    width: 600px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;

    margin-bottom: 16px;
}

.canvas div{
    display: flex;
}

.canvas div > div{
    flex: 1 0 auto;
    border-bottom: 0.1px solid #000;
    border-right: 0.2px solid #000;

    transition: 0.2s;
}

.action-pannel{
    width: 600px;
    margin-top: 8px;

    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.size input{
    width: 100%;
}

.save-form{
    display: flex;
    gap: 16px;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

#download-btn:hover{
    border-color: #045add;
}

.save-form input{
    padding: 8px;
}

#save-btn:hover{
    border-color: #56a65a;
}

#delete-btn:hover{
    border-color: #ff0000;
}

@media (max-width: 620px){
    .canvas{
        width: 300px;
        height: 300px;
    }

    .menu{
        width: 300px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    
        margin-bottom: 16px;
    }  

    .menu div, .menu div *{
        width: 100%;
        height: 40px;
    }
    
    .action-pannel{
        width: 300px;
        margin-top: 8px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .action-pannel .btn, .action-pannel input{
        width: 100%;
    }
    
    .save-form{
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 16px;
        
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }
 }