@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

:root{
    --color: #393939;
    --main-color: #393939;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--main-color);
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Open Sans', sans-serif;
    color: var(--main-color);
}

.content{
    margin: 0 15%;
    display: flex;
    justify-content: center;
}

.flash { 
    margin: 1em 0; 
    padding: 1em; 
    background: #efefef; 
    border: 2px solid var(--main-color);
    text-align: center;
}

header{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #393939;
    padding-bottom: 8px;
}

header .content{
    display: flex;
    flex-direction: column;
}

header .nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 46px;
    font-weight: 900;
}

.title{
    display: flex;
    align-items: center;
}

.title:hover{
    cursor: pointer;
}

.nav{
    width: 40%;

    display: flex;
    align-items: center;
}

.nav ul{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}

.nav ul li{
    flex: 1 1 0;

    padding: 8px 0;
    text-align: center;

    transition: 0.5s;
}


.nav ul li:hover{
    border-bottom: 1px solid #393939;
    transform: translateY(-3px);
}

.vr{
    width: 1px;
    height: 10px;
    background-color: var(--main-color);
}

.burger-menu{
    display: none;
    width: 40px;
    height: 40px;
    background: url(../icon/menu/menu.png);
    background-position: center;
}

.burger-menu.active{
    width: 40px;
    height: 40px;
    background: url(../icon/menu/close.png);
    background-position: center;
}

.nav-drop-down{
    width: 100%;

    display: none;
    justify-content: center;
    /* border: 1px solid var(--main-color); */
    border-radius: 10px;

    transition: 0.3s;
}

.nav-drop-down.active{
    display: flex;
}

.nav-drop-down ul{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-drop-down li{
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid var(--main-color);
    text-align: center;

    transition: 0.3s;
}
/* .nav-drop-down li:last-child{ */
    /* border: none;
} */

.nav-drop-down li:hover{
    letter-spacing: 2px;
}

main{
    
}

footer{
    padding: 16px 0;

    justify-self: flex-end;
}

footer .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1020px){
    .burger-menu{
        display: block;
    }

    .nav{
        display: none;
    }
}

@media (max-width: 750px){
    .content{
        margin: 0;
        padding: 0 16px;
    }
 }

@media (max-width: 550px){
   header h1{
       font-size: 36px;
   }
}

@media (max-width: 400px){
    header h1{
        font-size: 24px;
    }
 }